<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decryption Chamber</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='endecrypt.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700" rel="stylesheet">
</head>
<body>
    <button onclick="location.href='/'" class="fa-solid fa-left-long alt-button back-btn"></button>
    <form action="/decrypt" method="post">
        <label for="key">Enter your encrypted key/secret here:</label><br>
        <input type="text" id="key" name="key" required><br><br>
        <label for="fernet_key">Enter your Fernet key here (only for Fernet encryption/decryption):</label><br>
        <input type="text" id="fernet_key" name="fernet_key"><br><br>
        <label for="method">Select the encryption method:</label><br>
        <select id="method" name="method" required>
            <option value="1">base64</option>
            <option value="2">a85</option>
            <option value="3">base16</option>
            <option value="4">base32</option>
            <option value="5">base32hex</option>
            <option value="6">Fernet</option>
        </select><br><br>
        <input type="submit" value="Decrypt">
        <button type="button" onclick="location.href='/encrypt'" class="alt-button">Encrypt It!</button>
    </form>

    <div id="decryptedKeyModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Your Decrypted Key</h2>
            <p id="decryptedKey"></p>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var decryptedKey = "{{ decryptedKey|default('') }}"; // Default to empty string if not set
            var modal = document.getElementById("decryptedKeyModal");
            var span = document.getElementsByClassName("close")[0];

            if (decryptedKey) {
                document.getElementById('decryptedKey').innerText = decryptedKey;
                modal.style.display = "block";
                setTimeout(() => {
                    modal.classList.add("show");
                }, 10); // small delay to ensure display:block takes effect
            }

            span.onclick = function() {
                modal.classList.remove("show");
                setTimeout(() => {
                    modal.style.display = "none";
                }, 500); // match the transition duration
            }

            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.classList.remove("show");
                    setTimeout(() => {
                        modal.style.display = "none";
                    }, 500); // match the transition duration
                }
            }
        });
    </script>
</body>
</html>
