<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encryption Chamber</title>
    <link rel="stylesheet" href="static/endecrypt.css">
</head>
<body>
    <form action="/encrypt" method="post">
        <label for="key">Enter your key here:</label><br>
        <input type="text" id="key" name="key" required><br><br>


        <label for="method">Select the encryption method:</label><br>
        <select id="method" name="method" required>
            <option value="1">base64</option>
            <option value="2">a85</option>
            <option value="3">base16</option>
            <option value="4">base32</option>
            <option value="5">base32hex</option>
            <option value="6">Fernet</option>
        </select><br><br>

        <input type="submit" value="Encrypt">
        <button onclick="location.href='/decrypt'" class="alt-button">Decrypt It!</button>
    </form>
    {% if encryptedKey %}
    <h3>Your Encrypted Key is:</h3>
    <h2>{{ encryptedKey }}</h2>
    {% endif %}
    {% if fernet_key %}
    <h3>Save this key for decryption (If you used Fernet):</h3>
    <h2>{{ fernet_key }}</h2>
    {% endif %}
</body>
</html>
