<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="static/index.css">
</head>
<body>
    <h1>Welcome to the encrypt/decrypt website!</h1>
    <h2>To start, please press the button that you would like to use.</h2>
    <button onclick="location.href = '/encrypt';">Encrypt A Key</button>
    <button onclick="location.href = '/decrypt';">Decrypt A Key</button>
</body>
</html>